        .list-group {
            /*display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 210px;*/
            text-align: center;
        }
        
        div {
            margin-top: 5%;
            margin-left: 35%;
            margin-right: 35%;
        }
        
        #header {
            background-color: rgb(33, 3, 61);
            color: white;
        }